<ion-header>
  <ion-toolbar>
    <ion-title>lista-estudiantesFi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Lista</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <ion-list>
        <ion-list-header>
        Fisica
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-finn.png">
          </ion-avatar>
          <ion-label>
            <h2>Nombre</h2>
            <h3>Jordi Alarcon Solis</h3>
           
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-han.png">
          </ion-avatar>
          <ion-label>
            <h2>Nombre</h2>
            <h3>Roberto Carlos Siles Nogales</h3>
            
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-rey.png">
          </ion-avatar>
          <ion-label>
            <h2>Nombre</h2>
            <h3>Fernando Mamani Colque</h3>
            
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-luke.png">
          </ion-avatar>
          <ion-label>
            <h2>Nombre</h2>
            <h3>Genoveba Marza Moya</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-app>
</ion-content>
