<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiante
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-nav class="page-nav">
  <div class="container">
      <a href="/index.htm" class="active">Acvidad</a>
      <a href="/about.htm">Entrega de actividad</a>
      <a href="/schedule.htm">escribir texto</a>
      <a href="/register.htm">grabar audios</a>
      <a href="/location.htm">Seguimiento</a>
  </div>
</ion-nav>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
