<ion-header [translucent]="true">

  <ion-toolbar color="secondary ion-float-left ion-padding-start">

    <ion-title class="ion-text-center">

      Profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-list>
    <ion-list-header>
      Curso
    </ion-list-header>
    <ion-item (click)="crearCurso()">

      <ion-icon name="library-outline" slot="start"></ion-icon>

      <ion-label>
        <h2>Crear Curso</h2>

        <p>nuevo curso</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="curso()">

      <ion-icon name="book-outline" slot="start"></ion-icon>
     
      <ion-label>
        <h2>Curso</h2>

        <p>lista de su curso</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="admEstudiante()">

      <ion-icon name="people-circle-outline"slot="start"></ion-icon>
      <ion-label>
        <h2>Adm Estudiantes</h2>

        <p></p>
      </ion-label>
    </ion-item>

    
  </ion-list>

  <ion-list>
    <ion-list-header>
      Recursos
    </ion-list-header>
    <ion-item (click)="admActividades()">

      <ion-icon name="create-outline" slot="start"></ion-icon>
      
      <ion-label>
        <h2>Actividades</h2>

        <p>adm actividades</p>
      </ion-label>
    </ion-item>



    <!-- <ion-item (click)="grabarAudio()">

      <ion-icon name="radio-button-on-outline" slot="start"></ion-icon>

      <ion-label>
        <h2>Grabar audio</h2>

        <p>El profesor podra grabar audio</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="texto()">

      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      
      <ion-label>
        <h2>Texto</h2>

        <p>contenido de textos</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="file()">

      <ion-icon name="document-attach-outline" slot="start"></ion-icon>
      
      <ion-label>
        <h2>File (?kb mb)</h2>


      </ion-label>
    </ion-item>
    <ion-item (click)="seguimiento()">

      <ion-icon name="eye-outline" slot="start"></ion-icon>

      <ion-label>
        <h2>Seguimiento</h2>

        <p>un seguimiento a todo</p>
      </ion-label>
    </ion-item>-->


  </ion-list>
</ion-content>