<!--<ion-header [translucent]="true"  >
 
  <ion-toolbar color="secondary ion-float-left ion-padding-start">
    <ion-icon name="person-circle" slot="start" class="IconoSuperior"></ion-icon>
    
    <ion-title class="ion-text-center">
      
      Profesor 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background-image">
  
  <ion-img width="80" height="80" src="https://ae01.alicdn.com/kf/HTB1e8YdxhSYBuNjSsphq6zGvVXa1.jpg_q50.jpg"></ion-img>

  <ion-header collapse="condense" >
    <ion-toolbar>
     <ion-title size="large">Tabla1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-button color="dark">
    Crear Codigo de Clase
   </ion-button>

  <app-explore-container name="Tab 1 pagina"></app-explore-container>

</ion-content>
-->
<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>BIENVENIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/idea.png" alt="">
<ion-item>
  <ion-label position="floating">Correo electrónico</ion-label>
  <ion-input type="text" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" name="password"></ion-input>
</ion-item>
<ion-row>
  <ion-col>
    <ion-button type="submit" (click)="onLogin(email, password)" 
    expand="block">Login</ion-button>
  </ion-col>
</ion-row>
<span class="center-span"> or </span>
<ion-row>
  <ion-col>
    <ion-button type="submit" color="danger" (click)="onLoginGoogle(email, password)" 
    expand="block">Ingresar con Google
    </ion-button>
  </ion-col>
</ion-row>
<ion-button expand="block"> Registrarse </ion-button>
</ion-content>