<ion-header [translucent]="true"  >
 
  <ion-toolbar color="secondary ion-float-left ion-padding-start">
    
    <ion-title class="ion-text-center">
      
      Profesor 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background-image">
  
 
  <ion-header collapse="condense" >
    <ion-toolbar>
     <ion-title size="large">Tabla1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-button color="dark">
    Crear Codigo de Clase
   </ion-button>

  <app-explore-container name="Tab 1 pagina"></app-explore-container>

</ion-content>

